[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dpkt = "*"
toml = "*"
munch = "*"
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
aiohttp = {extras = ["speedups"], version = "*"}

[dev-packages]
pytest = "*"
pytest-mock = "*"

[requires]
python_version = "3.11"
